certifi==2026.2.25
charset-normalizer==3.4.7
docopt==0.6.2
idna==3.11
keyboard==0.13.5
numpy==2.4.4
pandas==3.0.2
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
requests==2.33.1
six==1.17.0
tabulate==0.10.0
urllib3==2.6.3
yarg==0.1.10
